body, html {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #e44848;
	font-family: Arial, Helvetica, sans-serif;
}
.center {
	display: flex;
	height: 100vh;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.conteiner {
	height: 600px;
	width: 400px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas: 
						'screen screen screen screen'
						'button button button button'
						'button button button button'
						'button button button button'
						'button button button button'
						'button button button button'
						'button button button button';
	
	background-color: #f4adad;
	box-shadow: #5e0303 10px;
}

.screen {
	grid-area: screen;

	border: none;
	font-size: 30px;
	background-color: #f8caca;
	color: #03045E;

	outline: none;
	padding-left: 10px;
	padding-right: 10px;
	text-align: right;
}

button {
	background-color:#c70000;
	font-size: 30px;
	cursor: pointer;
	color:#ffffff;
	border: none;

	user-select: none;
}

button:hover,
button:focus {
    background: #b60000;
}

button:active {
    transform: scale(0.99);
}